* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: #fff; */
}

:root {
    --blue: #0078FF;
    --grey: #F9F9F9;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column; 
    background-color: white;
    
}

.logo {
    width: 172px;
    height: auto; 
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    flex-wrap: wrap; 
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(10px); 
    z-index: 1000; 
}

.contact__us__btn {
    all: unset;
    font-weight: bold; 
    border: 2px solid black;
    padding: 10px 24px;
    border-radius: 32px;
    cursor: pointer; 
}

.contact__us__btn:hover {
    border: 2px solid var(--blue);
    color: var(--blue);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./assests/background.png);
    width: 100%;
    padding: 10%;
    position: relative;
    margin-bottom: 50%;
}

.home__upper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    text-align: center;
    gap: 30px;
}
.home__heading {
    font-size: 48px;
    font-weight: 450;
    
}
.highlight__text{
    color: var(--blue);
    font-weight: 600;
}

.home__para{
    font-size: 22px;
}

.common__btn {
    
    all: unset;
    background-color: var(--blue);
    color: #fff;
    font-size: 24px;
    padding: 13px 70px 13px 70px;
    border-radius: 32px;
    font-weight: 500;
}
.common__btn:hover{
    box-shadow:  5px 5px 10px var(--blue);
    cursor: pointer;
}
.home__lower {
    position: absolute;
    top: 100%;
}

.digital__mastry__container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    flex-direction: column;
}

.digital__mastry__heading{
    font-weight: bold;
    font-size: 30px;
}

.digital__mastry{
    display: flex;
    padding: 5%;
    width: 100%;
}
.digital__left{
    width: 40%;
}
.digital__right{
    width: 60%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
    text-align: start;
}

.heading {
    font-size: 30px;
    font-weight: bold;
}
.para{
    font-size: 20px;
}

.service__container{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 4%;
}

.service__upper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--grey);
    gap: 20px;
}
.service__lower {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    place-items: center;
    background-color: var(--grey);
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    margin: 10px;
    width: 297px;
    height: 239px;
    padding: 32px 16px 32px 16px;
    text-align: center;
    box-shadow: 2px 2px 5px 5px #f7f5f5;
    border-radius: 10px;
    background-color: white;
}
.card__heading {
    font-weight: bold;
    font-size: 20px;

}
.card__para {
    font-size: 14px;
}

.digital__landscape__container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.digital__landscape__upper{
    text-align: center;
}
.digital__landscape{
    display: flex;
    justify-content: center;
    align-items: center;
}
.digital__landscape__left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rec__card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    height: 130px;
    transform: translateX(10%);
    box-shadow: 2px 2px 5px 5px #f7f5f5;
    background-color: white;
}

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.action__lower {
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-content: center;
}

.action__card {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 5%;
}
.card__para1 {
    font-size: 20px;
    text-align: center;
}
.grad1 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 100%;
    position: absolute; 
    background: linear-gradient(
        123.77deg,
        #409AFF 0%,
        
        #409AFF 100%
    );
    z-index: 10;
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(2, 0, -0.03, 2, 0, 0);
}
.grad2 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 100%;
    position: absolute; 
    background: linear-gradient(
        123.77deg,
        #FF725E 0%,
        
        #FF725E 100%
    );
    z-index: 10;
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1.3, 0, -0.03, 1.3, 0, 0);
}

.grad1.left {
    left: 0;
    top: 0;
}

.grad2.right {
    right: 6%;
    top: 0;
}

.peace__container {
    position: relative; 
    z-index: 1; 
    padding: 5% 0;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.peace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    width: 80%;
    padding: 10%;
    transform: translateY(-50%);
}

.peace__heading{
    font-size: 34px;
    font-weight: bold;
}
.peace__para {
    font-size: 20px;
}

.pharma__partner {
    transform: translateY(-30%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.pharma__upper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.pharma__lower {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 30px;
    box-shadow: 1px 1px 5px 5px #dbd8d8;
    border-radius: 30px;
}
.pharma__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}
.pharma__lower__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: 
    center;
    width: 100%;
    
    
}

.pharma__right__upper{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.pharma__right__upper__left {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.pharma__p {
    font-weight: bold;
    font-size: 20px;
}
.pharma__para {
    font-size: 24px;
}
.q {
    width: 40px;
    height: 40px;
}

.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    
}

.faq__lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 60%;

background: #ffffff;
box-shadow:  27px 27px 81px #c7c7c7,
             -27px -27px 81px #ffffff;
}

.faq__details {
    
    
    transition: background-color 0.3s ease;
    width: 100%; 
    padding: 0 0 10px 10px;
    box-sizing: border-box; 
}

.faq__sum {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    
    transition: background-color 0.3s ease; 
    box-sizing: border-box; 
}

.faq__sum:hover {
    color: #409AFF;
}

.faq__sum p {
    margin: 0;
    font-weight: bold;
}

.faq__details[open] summary {
    background-color: var(--blue); 
    box-shadow: 1px -1px 2px 2px var(--blue);
    color: white;
    outline: none;
}

.det__p {
    margin-top: 10px;
    padding-left: 20px;
}

.contact {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.contact__lower {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
background: #ffffff;
box-shadow:  27px 27px 81px #c7c7c7,
             -27px -27px 81px #ffffff;
    padding: 4%;
}
.contact__lower__upper {
    display: flex;
    flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 20px;
     width: 100%;
}
.contact__lower__upper__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 100%;
}
.input {
    width: 380px;
    background-color: #FCFCFC;
    border: 2px solid #C7C7C7;
    border-radius: 4px;
    padding: 
    8px 12px 8px 12px;
}

.input-box {
    height: 180px;
}
.input-box::placeholder {
    position: absolute;
    top: 10px;
}
label {
    font-weight: bold;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #006FED1F;
    gap: 30px;
    padding: 5%;
    border-radius: 30px;
}
.footer__container {
    padding: 5%;
    display: flex;
    width: 100%;
    justify-content: space-between;align-items: center;
    flex-direction: column;
    gap: 20px;
}
.left {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 40%;
    flex-direction: column;
    gap: 20px;
}
.footer__bold {
    font-weight: bold;
    font-size: 22px;
}
.left__upper ,.left__mid ,.left__lower{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.mid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
    width: 30%;
}
.mid__lower {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    
}
.link {
    text-decoration: none;
    color: black;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 30%;
}
.right__lower {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon__container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: white;
    border-radius: 50%;
}
@media (max-width: 768px) {

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .left  , .right {
        width: 100%;
    }
    .mid{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .contact__lower__upper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .input {
        width: 200px;
    }
    .contact__lower__upper__right{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .faq__lower{
        width: 95%;
        
    }
    .action__card{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .pharma__para{
        font-size: 18px;
    }
    .para1 {
        
        text-align: center;
    }
    .pharma__partner{
        transform: translateY(0);
        padding: 2%;
    }
    .pharma__video {
          width: 300px;
          height: 300px;
    }
    .pharma__lower{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .peace{
        width: 100%;
        transform: translateY(0);
    }
    .peace__heading{
        font-size: 24px;
    }
    .peace__para {
        font-size: 19px;
    }
    .grad1{
        display: none;
    }
    .grad2 {
        display: none;
    }
    .action__lower{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .digital__landscape__right img {
        width: 90%;
    }
    .rec__card{
        width: 300px;
        height: 120px;
        pad: 5px;
        transform: translateX(0);
    }
    .digital__landscape{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service__lower {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .logo{
        width: 100px;
        height: auto;
    }
    .nav {
        flex-direction: row; 
        justify-content: space-between;
        gap: 5px;
        padding: 10px;
    }

    .contact__us__btn {
        width: 35%; 
        font-size: 16px;
        text-align: center; 
    }
    .home__upper{
        width: 100%;
    }
    .home__heading{
        font-size: 28px;
    }
    .home__para{
        font-size: 19px;
    }
    .common__btn {
    
        all: unset;
        background-color: var(--blue);
        color: #fff;
        font-size: 19px;
        padding: 6px 50px 6px 50px;
        border-radius: 32px;
        font-weight: 500;
    }
    .home__lower img{
        
        width: 100%;
    }

    .home{
        margin-bottom: 80%;
    }
    .digital__mastry__container{
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .digital__mastry__heading{
        font-size: 22px;
        text-align: center;
    }
    .digital__mastry{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .digital__left{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .digital__left img{
        width: 90%;
    }
    .digital__right{
        width: 100%;
    }
    .heading{
        font-size: 22px;
    }
    .para{
        font-size: 17px;
    }
}
